:root{
    --teal: #2ec1ac;
    --teal_hover: #279e ;
}

*{
    font-family: 'Poppins', sans-serif;
}
.h-font {
    font-family: 'Merienda', cursive;
}

.h-line{
    width: 150px;
    margin: 0 auto;
    height: 1.7px;
}

.custom-bg {
    background-color: var(--teal);
    border: 1px var(--teal);
}
.custom-bg:hover {
    background-color: var(--teal_hover);
    border-color: var(--teal_hover);
}

.avaibility-form{
    margin-top: -50px;
    z-index: 2;
    position: relative;
}

@media screen and (max-width: 575px){
    .avaibility-form{
        margin-top: 25px;
        padding: 0 35px;
    }
}



.box{
    border-top-color: var(--teal);
}

